.username {
    position: relative;
    float: right;
    top: 0.5em;
    right: 0.5em;

    color: #ccc;
    font-size: 1.2em;
}

.allow_skip {
    color: #080;
}

.strikeout {
    text-decoration-line: line-through;
    text-decoration-color: #111;
}

.own_group {
    font-style: italic;
    color: #800;
}

.hidden-selectable {
    display: inline-block;
    width: 1px;
    opacity: 0;
}

.noodenvelop {
    border: 1rem solid #800;
    padding: 1rem;
    margin: 1rem;
    margin-top: 5rem;
    background-color: #f0f0f0;
}

.heading {
  font-family: Cinzel;
  color: white;
  background-color: #5c1c85;
  padding: 1rem;
}

.body {
    padding: 1rem;
}

.paperforms {
    margin: 1em;
    text-align: center;
    font-style: italic;
    color: #800;
}
