<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {%CSS}

    <title>{%TITLE}</title>
  </head>
  <body>
  	{%POPUP}

  	{%PAGE}

{%JS}
{%APP}

  </body>
</html>
